{% extends "base.html" %}
{% block content %}
    <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
              <h1>
                  添加班级学习记录
                  <small>Optional description</small>
              </h1>
              <ol class="breadcrumb">
                  <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                  <li class="active">Here</li>
              </ol>
          </section>


          <form action="" method="post">
              {% csrf_token %}
              <ol class="breadcrumb pull-right">
                  <select name="action" id="" class="form-control" style="display: inline-block; width: 200px">
                      <option value="batch_init">批量创建学生学习记录</option>
                  </select>
                  <button class="btn btn-danger">批量操作</button>
              </ol>
              <section class="content">
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="box">
                              <div class="box-header">
                                  <h1 class="box-title"><a href="" class="btn btn-primary">添加班级学习记录</a></h1>
                              </div>
                              <!-- /.box-header -->
                              <div class="box-body">
                                  <table id="example2" class="text-center table table-bordered table-hover">
                                      <thead>
                                      <tr>
                                          <th><input type="checkbox"></th>
                                          <th>编号</th>
                                          <th>班级</th>
                                          <th>节次</th>
                                          <th>讲师</th>
                                          <th>录入成绩</th>
                                          <th>编辑</th>
                                          <th>删除</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% for foo in class_study_record_list %}
                                          <tr>
                                              <td><input type="checkbox" name="selected_pk_list" value="{{ foo.pk }}">
                                              </td>
                                              <td>{{ forloop.counter }}</td>
                                              <td>{{ foo.class_obj }}</td>
                                              <td>{{ foo.day_num }}</td>
                                              <td>{{ foo.teacher }}</td>
                                              <td><a href="/record_score/{{ foo.pk }}">录入成绩</a></td>
                                              <td>
                                                  <a href=""><i class="fa fa-edit" aria-hidden="true"></i>编辑</a>
                                              </td>
                                              <td>
                                                  <a href=""><i class="fa fa-trash-o fa-lg"></i>删除</a>
                                              </td>
                                          </tr>
                                      {% endfor %}
                                      </tbody>
                                  </table>
                                  <nav aria-label="Page navigation" class="pull-right">
                                      <ul class="pagination">
                                          {{ pagination.page_html|safe }}
                                      </ul>
                                  </nav>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </form>
    </div>
{% endblock %}